@using StateOfOhioLibrary.Models;
@model ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
    ViewBag.Title = "Change Password";

    int tabIndex = 1;
}
@using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { @class = "form-changepassword" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.PreviousPageUrl)
    <div class="col-md-12">
        <div id="inner-right-area">
            <div class="col-md-12 clearfix">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="container">
                <div class="row">
                    @if (!ViewData.ModelState.IsValid)
                {
                        <div class="shadow-container">
                            <div class="alert alert-danger">
                                @Html.ValidationSummary("", new { @style = "color:#a94442;" })
                            </div>
                        </div>
                    }
                    else
                    {
                        if (ViewBag.Message != null)
                        {
                            if (ViewBag.Message == "Error")
                            {
                                <div class="shadow-container">
                                    <div class="alert alert-danger">Change password failed. Please try again.</div>
                                </div>
                            }
                            else if (ViewBag.Message == "Successful")
                            {
                                <div class="shadow-container">
                                    <div class="alert alert-success">Password changed successfully</div>
                                </div>
                            }
                            else
                            {
                                <div class="shadow-container">
                                    <div class="alert alert-danger">@ViewBag.Message</div>
                                </div>
                            }

                        }
                    }
                    <div class="col-md-3"></div>
                    <div class="col-md-6 row">
                        <div class="search-panel">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="40%"><label>Old Password:</label></td>
                                    <td width="60%">
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "search-control-eight", @autocomplete = "off", @tabindex = tabIndex, @maxlength = "20" })
                                        @{tabIndex++; }


                                    </td>
                                </tr>
                                <tr>
                                    <td><label>New Password:</label></td>
                                    <td>
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "search-control-eight", @autocomplete = "off", @tabindex = tabIndex, @maxlength = "20" })
                                        @{tabIndex++; }


                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Confirm Password:</label></td>
                                    <td>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "search-control-eight", @autocomplete = "off", @tabindex = tabIndex, @maxlength = "20" })
                                        @{tabIndex++; }
                                    </td>
                                </tr>
                            </table>
                            <div class="col-md-12 text-center div-space-one">
                                <button id="submit" name="submit" type="submit" value="Submit" class="submit-btn" tabindex="@tabIndex">Submit</button>
                                @{tabIndex++; }
                                <a class="cancel-button" tabindex="@tabIndex" style="cursor:pointer;" onclick="window.location='@Model.PreviousPageUrl'">Cancel</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
                                    }


<script>
    function GoToPreviousPage() {
        window.location.href = "/Login";
    }
</script>
